examples/flows.force-absorption.json
[{"id":"4c8b155e63b2cadb","type":"victron-output-custom","z":"b9367937.a04418","service":"com.victronenergy.vebus/276","path":"/VebusSetChargeState","serviceObj":{"service":"com.victronenergy.vebus/276","name":"MultiPlus-II 48/3000/35-32 (276)"},"pathObj":{"path":"/VebusSetChargeState","name":"/VebusSetChargeState","type":"number"},"name":"","onlyChanges":false,"x":1290,"y":2180,"wires":[]},{"id":"ffc80c4c56aa8408","type":"ui_switch","z":"b9367937.a04418","name":"","label":"Abszorpció","tooltip":"","group":"bc578060.770bf","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"3","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":930,"y":2180,"wires":[["4c8b155e63b2cadb"]],"info":"https://github.com/victronenergy/venus/wiki/dbus\n\n/VebusChargeState                       <- 1. Bulk\n                                           2. Absorption\n                                           3. Float\n                                           4. Storage\n                                           5. Repeat absorption\n                                           6. Forced absorption\n                                           7. Equalise\n                                           8. Bulk stopped\n/VebusSetChargeState                    <- 1. Force to Equalise. 1 hour 1, 2 or 4 V above\n                                              absorption (12/24/48V). Charge current is limited\n                                              to 1/4 of normal value. Will be followed by a normal\n                                              24-hour float state.\n                                           2. Force to Absorption, for maximum absorption time.\n                                              Will be followed by a normal 24-hour float state.\n                                           3. Force to Float, for 24 hours. \n                                           (from \"Interfacing with VE.Bus products – MK2 Protocol\" doc)"},{"id":"6166f896c0dc5315","type":"victron-input-vebus","z":"b9367937.a04418","service":"com.victronenergy.vebus/276","path":"/VebusChargeState","serviceObj":{"service":"com.victronenergy.vebus/276","name":"MultiPlus-II 48/3000/35-32"},"pathObj":{"path":"/VebusChargeState","type":"enum","name":"Charge state","enum":{"0":"Initialising","1":"Bulk","2":"Absorption","3":"Float","4":"Storage","5":"Absorb repeat","6":"Forced absorb","7":"Equalise","8":"Bulk stopped","9":"Unknown"}},"initial":"","name":"","onlyChanges":false,"x":280,"y":2180,"wires":[["343630b01811ce33"]]},{"id":"343630b01811ce33","type":"change","z":"b9367937.a04418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(msg.payload = 3) ? 3 : 2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2180,"wires":[["ffc80c4c56aa8408"]]},{"id":"bc578060.770bf","type":"ui_group","name":"Rendszer","tab":"318c9fa2.5a46c","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"318c9fa2.5a46c","type":"ui_tab","name":"Hajó","icon":"directions_ferry","order":2,"disabled":false,"hidden":false}]