examples/flows.1.json
[{"id":"aeb5577ba014f612","type":"ui_template","z":"b0271424.6d6ae8","group":"bc578060.770bf","name":"","order":13,"width":"6","height":"2","format":"<div layout=\"row\" layout-align=\"space-between\">        \n        <ul style=\"display: flex; justify-content: space-between; list-style-type: none; margin: 0; padding: 0; column-gap: 5px; grid-template-columns: repeat(4, auto); width: 100%\">\n            <li ng-repeat=\"b in msg.payload\"\n             style=\"flex:auto; padding: 4px; border-radius:2px; text-align:center; background-color: {{b.balancer_status == 'balanced' ? ((b.temperature < 1 || b.temperature > 30) ? '#018786':'#ffde03') : ((b.balancer_status == 'balancing')?'#3700b3':'#b00020')}}\"\n             title=\"{{b.balancer_status}}\">\n              {{b.battery}}\n              <small style=\"display: block\">{{b.voltage}}V</small>\n              <small style=\"display: block\">{{b.temperature-273}}&deg;C</small>\n            </li>\n            <li ng-if=\"!msg.payload\" style=\"flex:auto; padding: 4px; border-radius:2px; text-align:center; background-color: #b00020\">\n                :( \n            </li>\n        </ul>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1400,"y":1940,"wires":[[]]},{"id":"8ad78d9ff651a452","type":"change","z":"b0271424.6d6ae8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t$sort(\t   $map(\t       $keys(msg.payload),\t       function($k) {\t        $merge([$lookup(msg.payload, $k), {\"battery\": $k}])\t       }\t   ),\t   function ($a,$b){$a.battery > $b.battery}\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1940,"wires":[["aeb5577ba014f612","b96e2fdbbaa9176b"]]},{"id":"20cac36d62a5afe4","type":"join","z":"b0271424.6d6ae8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":870,"y":1940,"wires":[["456ba12294b50860"]]},{"id":"92eed64aea5b8df7","type":"signalk-subscribe","z":"b0271424.6d6ae8","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.B*.temperature","source":"","period":1000,"x":380,"y":1880,"wires":[["49c90e71baa0af68"]]},{"id":"406936b3321068bf","type":"signalk-subscribe","z":"b0271424.6d6ae8","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.B*.balancer_status","source":"","period":1000,"x":380,"y":2000,"wires":[["49c90e71baa0af68"]]},{"id":"20dc513b6b72dcbb","type":"signalk-subscribe","z":"b0271424.6d6ae8","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.B1.voltage","source":"","period":1000,"x":380,"y":2080,"wires":[["49c90e71baa0af68"]]},{"id":"49c90e71baa0af68","type":"change","z":"b0271424.6d6ae8","name":"","rules":[{"t":"set","p":"parts.id","pt":"msg","to":"$split(msg.topic, \".\")[2]","tot":"jsonata"},{"t":"set","p":"parts.type","pt":"msg","to":"object","tot":"str"},{"t":"set","p":"parts.key","pt":"msg","to":"$split(msg.topic, \".\")[3]","tot":"jsonata"},{"t":"set","p":"parts.count","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"battery","pt":"msg","to":"$split(msg.topic, \".\")[2]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1940,"wires":[["20cac36d62a5afe4"]]},{"id":"456ba12294b50860","type":"join","z":"b0271424.6d6ae8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"battery","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"30","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1010,"y":1940,"wires":[["8ad78d9ff651a452"]]},{"id":"ac13a7c0958aba8b","type":"signalk-subscribe","z":"b0271424.6d6ae8","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.B2.voltage","source":"","period":1000,"x":380,"y":2120,"wires":[["49c90e71baa0af68"]]},{"id":"9ee219cdebfcc779","type":"signalk-subscribe","z":"b0271424.6d6ae8","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.B3.voltage","source":"","period":1000,"x":380,"y":2160,"wires":[["49c90e71baa0af68"]]},{"id":"082d2676623a7902","type":"signalk-subscribe","z":"b0271424.6d6ae8","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.B4.voltage","source":"","period":1000,"x":380,"y":2200,"wires":[["49c90e71baa0af68"]]},{"id":"bc578060.770bf","type":"ui_group","name":"Rendszer","tab":"318c9fa2.5a46c","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"318c9fa2.5a46c","type":"ui_tab","name":"Hajó","icon":"directions_ferry","order":2,"disabled":false,"hidden":false}]
